<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{% static 'hack/index.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <h1>Welcome to Confo!</h1>
    <h3>A Judge-Free Zone. A Safe Place To Confess Your Feelings.</h3>
    <p>Let out all your burdens anonymously. Converse and Confess!</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Nickname</label>
        <br>
        <input id="titleInput" name="title" type="text" placeholder="nickname">
      </div>
      <br>
      <div>
        <label for="textInput">Pour Your Heart Out Here!</label>
        <br>
        <textarea id="textInput" name="text" rows="5"></textarea>
      </div>
      <br>
      <div>
        <button type="submit">SUMBIT</button>
      </div>
    </form>
    <br>
    <p>We sympathize. We understand. We are all in this together.</p>
    {% if articles %}
    {% for article in articles %}
    <p>Story of : </p>
    <div class="text">
      <a href="{% url 'detail' article.id %}"> {{ article.title }} </a>
      <br>
    
  </div>
    </div>
    {% endfor %}
  {% else %}
  <p> ( no article )</p>
{% endif %}
  </body>
</html>